/* Main Red Button */
.main-btn {
    height: 52px;
    background-color: var(--red-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    padding: 16px 26px;
    border: none;
    outline: none;
    cursor: pointer;
    text-wrap: nowrap;
}

.main-btn:hover {
    background-color: var(--red-color-hover);
}

.main-btn:active {
    outline: none;
    background-color: var(--red-color-active);
}

.main-btn.white {
    background-color: inherit;
    color: var(--red-color);
    border: 1.64px solid var(--red-color);
}

.main-btn.white:hover {
    background-color: #FFE5E5;
}

.main-btn.white:active {
    border: 1.64px solid var(--red-color-active);
    color: var(--red-color-active);
    background-color: inherit;
}

/* Circle Red Button */
.circle-btn {
    height: 52px;
    width: 52px;
    border: 1.64px solid var(--red-color);
    border-radius: 50%;
    background-color: inherit;
    cursor: pointer;
}

.circle-btn i {
    font-size: 26px;
    color: var(--red-color);
}

.circle-btn.btn-link i {
    transform: rotate(-45deg);
}

.circle-btn#right {
    margin-left: 12px;
}

.circle-btn#left i {
    transform: rotate(180deg);
}

.circle-btn:disabled {
    opacity: 0.3;
    cursor: auto;
}

/* Pills */
.top-btn {
    display: flex;
    gap: 10px;
    border: 1.64px solid var(--blue-color);
    border-radius: 50px;
    padding: 6px;
    max-width: 350px;
}

.top-btn button {
    background-color: inherit;
    border: none;
    color: var(--dark-color-title);
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.top-btn button:hover {
    background-color: #EBF0FA;
}

.top-btn button.active {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.pill {
    border: 1px solid var(--blue-color);
    border-radius: 30px;
    padding: 8px 20px;
    background-color: inherit;
    color: var(--blue-color);
    margin-top: 10px;
    font-family: inherit;
    font-size: 16px;
}

.pill.free {
    background-color: var(--blue-color);
    color: var(--white-color);
}

/* String Links */
.bottom-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 500;
}

.btn-blue {
    color: var(--blue-color);
    text-decoration: underline;
}

.btn-red-arrow {
    color: var(--red-color);
    border: none;
    background: inherit;
    cursor: pointer;
    font-size: 14px;
}

.btn-red-arrow:hover {
    color: var(--red-color-hover);
}

.btn-red-arrow:active {
    color: var(--red-color-active);
}

.btn-red-arrow i {
    padding-left: 6px;
    vertical-align: middle;
}

@media (max-width: 1080px) {
    .main-btn {
        height: 46px;
        padding: 14px 24px;
    }

    .top-btn {
        gap: 6px;
        max-width: 262px;
        padding: 4px;
    }

    .top-btn button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .main-btn,
    .btn-blue,
    .btn-red-arrow {
        font-size: 13px;
    }

    .btn-red-arrow i {
        padding-left: 0;
    }
}

@media (max-width: 960px) {
    .top-btn {
        max-width: 240px;
    }

    .top-btn button {
        font-size: 13px;
    }

    .btn-blue {
        margin-bottom: 24px;
    }

    .pill {
        font-size: 14px;
        padding: 6px 16px;
    }

    .circle-btn {
        height: 40px;
        width: 40px;
    }

    .circle-btn i {
        font-size: 20px;
    }
}

@media (max-width: 692px) {
    .btn-blue {
        margin-bottom: 8px;
    }

    .btn-blue,
    .btn-red-arrow {
        font-size: 12px;
    }
}

@media (max-width: 609px) {
    .top-btn {
        max-width: 215px;
        padding: 4px;
    }

    .top-btn button {
        padding: 10px 16px;
    }
}

@media (max-width: 555px) {
    .top-btn {
        max-width: 240px;
        padding: 4px;
    }

    .top-btn button {
        padding: 10px 20px;
    }

    .btn-blue {
        margin-bottom: 24px;
    }

    .bottom-btn {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 12px;
        position: relative;
    }

    .bottom-btn .btn-red-arrow {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 375px) {
    .main-btn {
        font-size: 12px;
    }
}

@media (max-width: 315px) {
    .top-btn {
        gap: 4px;
        max-width: 200px;
        padding: 4px;
    }

    .top-btn button {
        padding: 8px 14px;
    }
}