/* Services Page */
.services-detail {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-price {
    position: relative;
    width: 100%;
    padding: 30px 115px 30px 30px;
    background-color: var(--white-color);
}

.circle-btn.btn-link {
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0.3;
}

.services-price:hover {
    box-shadow: 0 0 10px 0 rgba(40, 146, 215, 0.16);
}

.services-price:hover .circle-btn.btn-link {
    opacity: 1;
}

.services-price h4 {
    margin-bottom: 8px;
}

.price-box {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.priceitem {
    width: 26%;
}

.priceitem p.card:first-child {
    font-weight: 700;
    opacity: 1;
    margin-bottom: 6px;
}

.priceitem p.card {
    opacity: 0.6;
}

@media (max-width: 1024px) {
    .price-box {
        gap: 30px;
    }

    .services-price {
        padding: 26px 90px 26px 26px;
    }

    .priceitem {
        width: 30%;
    }

    .circle-btn.btn-link {
        bottom: 26px;
        right: 26px;
    }
}

@media (max-width: 768px) {
    .services-detail {
        gap: 24px;
    }

    .services-price {
        padding: 18px 80px 18px 18px;
    }

    .circle-btn.btn-link {
        bottom: 18px;
        right: 18px;
    }
}

@media (max-width: 646px) {
    .price-box {
        flex-direction: column;
        gap: 18px;
    }

    .priceitem {
        width: 100%;
    }

    .pill {
        margin-top: 6px;
        font-size: 12px;
    }

    .services-price h4 {
        margin-bottom: 4px;
    }
}

/* Education, Walks and Rent Pages */
.price-cards-container {
    display: flex;
    justify-content: space-between;
}

.price-cards-left {
    width: 370px;
}

.price-cards-left p {
    font-size: 18px;
    margin: 30px 0 20px 0;
}

.price-cards-left small {
    font-size: 13px;
    line-height: 17.71px;
    opacity: 0.6;
}

.card-container {
    background-color: var(--white-color);
    padding: 36px;
    margin-bottom: 28px;
    width: 670px;
    transition: font-size 0.3s ease-in;
    display: flex;
    justify-content: space-between;
}

.card-container:last-child {
    margin-bottom: 0;
}

.card-container:hover {
    box-shadow: 0px 0px 10px 0px #2892D71F;
}

.card-img {
    min-width: 168px;
    position: relative;
}

.card-img img {
    position: absolute;
    right: 0;
    width: 123px;
    height: 170px;
    opacity: 0.8;
}

.card-container:hover img {
    top: 26px;
    right: 26px;
    transform: scale(150%);
}

.card-container h4,
.card-container .btn-red-arrow,
.card-container img {
    transition: all 0.4s linear;
    animation: opacityBtn 0.3s ease-in;
}

@keyframes opacityBtn {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.card-container p {
    font-size: 16px;
    margin: 16px 0 24px 0;
}

.card-btns,
.card-btns-pills {
    display: flex;
}

.card-btns {
    justify-content: space-between;
    align-items: flex-end;
}

.card-btns.with-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-btns.with-img .btn-red-arrow {
    text-align: left;
    margin-top: 54px;
}