/* -----FAQ------ */
.faq-container h3 {
    margin-bottom: 30px;
}

.faq-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-container ul li {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

::marker {
    color: var(--blue-color);
    font-size: 30px;
}

.faq-container ul li:hover {
    list-style-type: disc;
}

.faq-container ul span,
.faq-container ul p {
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
}

.faq-container ul span {
    margin: 0 84px 0 59px;
}

.faq-container ul p {
    margin: 10px 216px 16px 234px;
}

.faq-container ul hr {
    margin-top: 16px;
}