.form-container {
    display: flex;
    gap: 30px;
    padding-top: 60px;
    margin-top: -60px;
}

.form-container {
    height: 100%;
}

.form-info {
    min-width: 45%;
}

.form-container.questions .form-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container.questions .form-img {
    height: 429px;
}

.form-container.discount .form-img {
    height: 267px;
}

.form-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-info h3 {
    margin-bottom: 20px;
}

.form-info h3 span {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
}

form label {
    color: var(--dark-color-title);
    font-size: 14px;
    font-weight: 600;
}

form input {
    font-size: 16px;
    width: 100%;
    padding: 14px;
    border: none;
    outline: 1px solid #EAF4FB;
    box-shadow: 0 1px 2px 0 #1018280D;
    position: relative;
}

form input:focus {
    outline: 3px solid var(--input-correct-focus);
}

form input::placeholder {
    opacity: 60%;
}

form input.err {
    outline: 1px solid var(--input-incorrect);
}

form input.err:focus {
    outline: 3px solid var(--input-incorrect-focus);
}

.form-text-inputs {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.input100-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.form-text-inputs label {
    line-height: 29.07px;
}

.form-btn-inputs {
    display: flex;
    justify-content: space-between;
}

.form-btn-inputs label a {
    text-decoration: underline;
}

.form-btn-inputs label a:hover {
    color: var(--blue-color-hover);
}

.form-btn-inputs label a:active {
    color: var(--blue-color-active);
}

.form-btn-inputs label input {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
    border: none;
    z-index: 9;
    cursor: pointer;
}

.form-btn-inputs label input:hover+.custom-checkbox,
.custom-checkbox:hover {
    border: 1px solid var(--blue-color-hover);
}

.form-btn-inputs label input:active+.custom-checkbox,
.custom-checkbox:active {
    border: 1px solid var(--blue-color-active);
}

.form-btn-inputs label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    width: 270px;
    font-weight: 400;
    color: rgba(43, 43, 43, 0.3);
}

.custom-checkbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    gap: 0px;
    border-radius: 6px;
    border: 1px solid var(--input-correct-focus);
    background-color: #fff;
}

.custom-checkbox img {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 3px;
}

@media (max-width: 980px) {

    form input,
    form label,
    .form-btn-inputs label {
        font-size: 13px;
    }

    .input100-row {
        flex-direction: column;
    }

    .form-text-inputs,
    .input100-row {
        gap: 13px;
    }

    .form-container.questions .form-img {
        height: 506px;
    }

    .form-container.discount .form-img {
        height: 386px;
    }

    .form-btn-inputs {
        flex-direction: column;
        align-items: flex-end;
    }

    .form-btn-inputs label {
        min-width: 100%;
        top: -20px;
        margin-bottom: 0;
    }
}

@media (max-width: 646px) {
    .form-container.discount .form-img {
        height: 398px;
    }
}

@media (max-width: 600px) {
    .form-container {
        flex-direction: column;
    }

    .form-container.questions {
        position: relative;
        padding-top: 44px;
    }

    .form-container.questions h3 {
        position: absolute;
        top: 0;
    }

    .form-container.questions .form-img,
    .form-container.discount .form-img {
        height: 280px;
    }

    .form-btn-inputs label {
        width: 100%;
        margin: 10px 0;
    }

    .form-btn-inputs {
        align-items: flex-start;
    }
}

@media (max-width: 375px) {

    .form-container.questions .form-img,
    .form-container.discount .form-img {
        height: 180px;
    }
}