/* Gallery Big */
.gallery-big {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    /* max-height: 653px; */
}

.gallery-big-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gallery-big-photos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 270px 270px;
    grid-gap: 30px;
    grid-auto-flow: dense;
    width: 202.5%;
    height: 100%;
}

.gallery-photo-textblock,
.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}


.gallery-item .gallery-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-2 {
    grid-column: span 2;
}

.h-2 {
    grid-row: span 2;
}

.gallery-photo-textblock {
    background-color: var(--white-color);
    padding: 30px;
}

.gallery-photo-textblock p.card {
    margin: 14px 0 26px 0;
}

/* Gallery Small */
.gallery-small,
.gallery-images {
    display: flex;
    position: relative;
    align-items: flex-end;
    column-gap: 30px;
}

.gallery-small {
    justify-content: space-between;
}

.gallery-small li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.gallery-images {
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.gallery-images>li {
    width: 270px;
    height: 236px;
}

li.big {
    width: 570px;
    height: 570px;
}

/* .gallery-photo-textblock {
    position: absolute;
    top: 0;
    left: 51.3%;
    margin-bottom: 34px;
} */