.how-to-go h3 {
    margin-bottom: 50px;
}

.how-flex {
    display: flex;
    gap: 30px;
}

.how-block {
    background-color: var(--white-color);
    padding: 30px;
}

.how-block a {
    text-decoration: underline;
    color: var(--blue-color);
}