.statistics {
    width: 100%;
}

.statistics,
.statistics-left {
    display: flex;
    justify-content: space-between;
}

.statistics-left {
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
}

.statistics-left h3 {
    text-transform: none;
    font-weight: 600;
}

.statistics-right {
    max-width: 48%;
}

.statistics-right p {
    margin-bottom: 70px;
}

.statistics-numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.numbers-item {
    width: 45%;
}

.numbers-item h2 {
    font-size: 70px;
}

.numbers-item small {
    font-size: 16px;
}

@media (max-width: 1024px) {
    .numbers-item h2 {
        font-size: 60px;
    }

    .numbers-item small {
        font-size: 13px;
    }
}

@media (max-width: 820px) {
    .statistics-right p {
        margin-bottom: 60px;
    }

    .statistics-numbers {
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .numbers-item h2 {
        font-size: 44px;
    }

    .numbers-item small {
        font-size: 12px;
    }
}

@media (max-width: 646px) {
    .numbers-item h2 {
        font-size: 38px;
    }

    .statistics-right p {
        margin-bottom: 40px;
    }

    .statistics-numbers {
        gap: 16px;
    }
}

@media (max-width: 472px) {
    .statistics {
        flex-direction: column;
        gap: 30px;
        position: relative;
    }

    .statistics-left,
    .statistics-right {
        min-width: 100%;
    }

    .statistics-right {
        margin-bottom: 76px;
    }

    .numbers-item {
        max-width: 48%;
    }

    .statistics-left a {
        position: absolute;
        bottom: 0;
    }

    .statistics-right p {
        display: none;
    }
}