@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@100..900&display=swap');
@import url(/src/styles/header+footer.css);
@import url(/src/styles/buttons.css);
@import url(/src/styles/galleries.css);
@import url(/src/styles/forms.css);
@import url(/src/styles/cards-with-price.css);
@import url(/src/styles/choose-yacht.css);
@import url(/src/styles/faq.css);
@import url(/src/styles/first-screen.css);
@import url(/src/styles/how-to-go.css);
@import url(/src/styles/journey.css);
@import url(/src/styles/map.css);
@import url(/src/styles/scroll-text.css);
@import url(/src/styles/statistics.css);
@import url(/src/styles/textblock.css);

:root {
    --blue-color: #2892D7;
    --dark-color-text: #2B2B2B;
    --dark-color-title: #373F51;
    --bg-color: #EBF0FA;
    --white-color: #FBFBFB;
    --red-color: #D00000;
    --red-color-hover: #FB2525;
    --red-color-active: #A61010;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

body {
    background-color: var(--bg-color);
    font-family: "Noto Sans", "Arial", sans-serif;
    max-width: 1440px;
    color: var(--dark-color-text);
    margin: 0 auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark-color-title);
}

h1,
h2,
h3,
h5 {
    text-transform: uppercase;
}

h1,
h2,
h5 {
    font-family: "Bebas Neue Cyrillic", sans-serif;
}

h3,
h4,
h5 {
    font-weight: 700;
}

h1 {
    position: absolute;
    top: 21%;
    left: 0;
    font-size: 180px;
    text-align: center;
    letter-spacing: 1px;
    z-index: 999;
}

h2 {
    font-size: 96px;
    letter-spacing: 1px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    margin-bottom: 12px;
}

h5 {
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.blue {
    color: var(--blue-color);
}

.container,
.header {
    margin: 10px 135px 0 135px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.main-img,
.side-img,
.journey-container,
.choose-top,
.choose-bottom,
.map-info,
.map-container iframe,
.how-block,
.price-flexbox,
.card-container,
form input,
.gallery-photo-textblock,
.gallery-small li img,
.main-btn {
    border-radius: 7px;
}