@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@100..900&display=swap');

:root {
    --blue-color: #2892D7;
    --dark-color-text: #2B2B2B;
    --dark-color-title: #373F51;
    --bg-color: #EBF0FA;
    --white-color: #FBFBFB;
    --red-color: #D00000;
    --red-color-hover: #E80000;
    --red-color-active: #B70A0A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    font-family: "Noto Sans", "Arial", sans-serif;
    max-width: 1440px;
    color: var(--dark-color-text);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark-color-title);
}

h1 {
    position: absolute;
    top: 21%;
    left: 0;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 180px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    z-index: 999;
}

h2 {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

h2.darkblue {
    color: var(--dark-color-title);
}

h2.blue, span.blue {
    color: var(--blue-color);
}

.container,
.header {
    margin: 10px 135px 0 135px;
}

/* Header */
.navbar {
    position: fixed;
    z-index: 99999;
    margin: 0 auto;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.header-logo {
    height: 56px;
    width: 146px;
}

.header-menu {
    font-size: 14px;
}

.header-menu ul {
    display: flex;
    flex-direction: row;
}

.header-menu li {
    list-style: none;
    font-size: 14px;
    margin-right: 24px;
}

.header-menu li:last-child {
    margin-right: 0;
}

.header-menu li a:hover {
    color: var(--blue-color);
}

.header-phone {
    font-weight: 700;
    font-size: 14px;
}

/* Footer */
footer {
    padding-bottom: 55px;
}

footer hr {
    margin-bottom: 28px;
}

footer p {
    text-align: center;
    text-decoration: underline;
    margin-top: 63px;
    font-size: 14px;
    opacity: 60%;
}

footer p:hover {
    color: var(--red-color-hover);
}

footer p:active {
    color: var(--red-color-active);
}

.footer-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    line-height: 1.7rem;
}

.footer-column li {
    list-style: none;
    font-size: 18px;
    opacity: 60%;
}

.footer-column li a:hover {
    color: var(--blue-color);
}

.footer-icons {
    margin-top: 28px;
}

.footer-icons img {
    height: 26px;
    width: 26px;
    margin-right: 12px;
}

/**/

.main-info {
    top: 72px;
    margin-bottom: 222px;
    position: relative;
}

.main-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-column small {
    font-size: 18px;
    width: 300px;
}

.main-img {
    height: 684px;
    width: 570px;
    border-radius: 7px;
}

.main-btnblock {
    width: 300px;
    display: flex;
    justify-content: right;
}

.main-btn {
    height: 52px;
    background-color: var(--red-color);
    border-radius: 7px;
    color: var(--white-color);
    font-size: 14px;
    padding: 16px 26px;
    border: none;
    outline: none;
    cursor: pointer;
    text-wrap: nowrap;
}

.main-btn:hover {
    background-color: var(--red-color-hover);
}

.main-btn:active {
    outline: none;
    background-color: var(--red-color-active);
}

/* Textblock */
.textblock {
    margin-bottom: 150px;
}

.textblock-title h2:first-child {
    text-align: right;
}

.textblock-title h2:last-child {
    text-align: left;
    /* color: var(--blue-color); */
    margin-bottom: 80px;
}

.textblock-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.textblock-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 23.4px;
}

.textblock-text p:last-child {
    margin-left: 30px;
    margin-right: 119px;
}

/* Journey */
.journey {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.journey-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.journey-flexbox h3 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.side-img {
    max-width: 570px;
    max-height: 570px;
    border-radius: 7px;
}

.journey-buttons {
    display: flex;
    flex-wrap: wrap;
}

.journey-container {
    height: 158px;
    width: 270px;
    background-color: var(--white-color);
    margin: 30px 30px 0 0;
    padding: 18px 14px;
    border-radius: 7px;
}

.journey-container:hover,
.journey-container:hover h4 {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.journey-container p {
    font-size: 16px;
}

.journey-container small {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
    text-align: right;
    margin-top: 16px;
}

/* Statistics */
.statistics {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.statistics-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.statistics-left p {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    width: 500px;
}

.statistics-left button {
    margin-bottom: 30px;
}

.statistics-right {
    max-width: 570px;
}

.statistics-right p {
    font-size: 18px;
}

.statistics-numbers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.numbers-item {
    width: 270px;
    margin: 0 15px 30px 0;
}

.numbers-item h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
}

.numbers-item p {
    font-size: 16px;
}

/* ChooseYacht */
.choose-yacht {
    margin-bottom: 150px;
    display: flex;
}

.choose-yacht img {
    margin-right: 30px;
}

.choose-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose-top,
.choose-bottom {
    background-color: var(--white-color);
    padding: 30px;
    font-size: 18px;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose-top {
    margin-bottom: 30px;
}

.top-btn {
    display: flex;
    margin-bottom: 30px;
}

.top-btn button {
    margin-right: 14px;
    background-color: var(--white-color);
    border: solid 1px var(--blue-color);
    color: var(--blue-color);
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.top-btn button.chosen {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 700;
}

.bottom-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 500;
}

.bottom-btn p a {
    color: var(--blue-color);
    text-decoration: underline;
}

.bottom-btn button {
    color: var(--red-color);
    border: none;
    background: inherit;
}

.bottom-btn button:hover {
    color: var(--red-color-hover);
}

.bottom-btn button:active {
    color: var(--red-color-active);
}

.bottom-btn i {
    font-size: 14px;
    padding-left: 6px;
    vertical-align: middle;
}

/* 404 */
.line-btn {
    color: var(--red-color);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
    border: none;
    outline: none;
    text-align: right;
    width: 300px;
}